/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
body{
    font-family: 'Lora', serif;
    padding: 10px 20px;
    
}
:root {
    --background-grey: #F4F3F4;
    --button-purple: #192592;
    --main-titles-dark-grey: #2C303F;
    --paragraph-grey: #5b5e6d;
    --nav-grey: #5b5e6d;
  }
  

header h1 {
    font-size: 70px;
    text-align: left;
    color: var(--main-titles-dark-grey);
    line-height: 3.8rem;
}
header p {
    text-align: left;
    font-size: 40px;
    line-height: 2.8rem;
    color: var(--paragraph-grey);
    margin-bottom: 60px;
}
header .email {
    padding: 40px 20px;
    margin-bottom: 10px;
    font-size: 30px;
    width: 93%;
    border: 1px solid var(--button-purple);
    border-radius: 10px;
}
header button {
    background-color: var(--button-purple);
    color: var(--background-grey);
    text-align: center;
    padding: 40px 20px;
    font-size: 24px;
    width: 100%;
    border: 1px solid var(--button-purple);
    border-radius: 10px;
}
header .center a {
    text-decoration: underline var(--button-purple);
    text-decoration-thickness: 3px;
    text-underline-offset: 9px;
    color: var(--button-purple);
}
header .center {
    text-align: center;
}
header img {
    display: block;
    margin: 0 auto;
    
}
main h2, p {
    text-align: center;
}
main {
    background-color: var(--background-grey);
    padding: 20px;
}
main h2 {
    font-size: 64px;
    margin-bottom: -15px;
    color: var(--main-titles-dark-grey);
}
main p {
    font-size: 40px;
    color: var(--paragraph-grey);
}
main button {
    background-color: white;
    color: var(--button-purple);
    text-align: center;
    border: 1px solid var(--button-purple);
    padding: 40px 20px;
    font-size: 35px;
    width: 100%;
    margin: 40px 0px;
    border-radius: 10px;
}
main .img-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
}
main .img-container img {
    width: 40%;
    padding: 10px;
    border-radius: var(--main-titles-dark-grey);
}
.action .big {
    font-size: 40px;
    font-weight: 600;
    color: var(--main-titles-dark-grey);
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: var(--main-titles-dark-grey);
}
.action .email {
    padding: 40px 20px;
    margin-bottom: 10px;
    font-size: 24px;
    width: 94%;
    border: 1px solid var(--button-purple);
    border-radius: 10px;
}
.action button {
    background-color: var(--button-purple);
    color: var(--background-grey);
    text-align: center;
    padding: 40px 20px;
    font-size: 24px;
    width: 100%;
    border: 1px solid var(--button-purple);
    border-radius: 10px;
}
.action .center {
    text-align: center;
}
.action p {
    font-size: 30px;
    color: var(--paragraph-grey);
    margin-top: 10px;
}
.action a {
    text-decoration: underline var(--button-purple);
    text-decoration-thickness: 2px;
    text-underline-offset: 9px;
    color: var(--button-purple);
}
.action a {
    text-align: center;
}
.footer-top ul li {
    list-style-type: none;
    color: var(--paragraph-grey);
}
.footer-top{
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0px;
  }

.footer-list-title {
    font-weight: bold;
    padding: 20px 0px;
}
.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: -30px;
    background-color: var(--background-grey)
}
.footer-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}
.footer-links li {
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 10px 0px;
}
.footer-links li a {
    text-decoration: none;
    color: var(--nav-grey);
    font-size: 20px;
    font-weight: 600;
}
.footer-language {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--paragraph-grey);
}
.footer-language img {
    width: 20px;
    height: 20px;
}
.footer-social-icons {
    display: flex;
    gap: 10px;
    color: var(--paragraph-grey);
}

  
  
@media only screen and (max-width: 768px) {
    body{
        padding: 10px 20px;
    }
    nav {
        border-bottom: 1px solid var(--nav-grey);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        color: var(--nav-grey);
        
    }
    nav ul{
        display: none;
    }
    nav .fa-bars {
        font-size: 24px; 
        cursor: pointer;
    
      }
    nav img{
        width: 200px;
        height: 120px;
    }
    
    header h1 {
        font-size: 70px;
        text-align: left;
        color: var(--main-titles-dark-grey);
        line-height: 3.8rem;
        
    }
    header p{
        text-align: left;
        font-size: 40px;
        line-height: 2.8rem;
        color: var(--paragraph-grey);
        margin-bottom: 60px;
    }
    header .email{
        padding: 40px 20px;
        margin-bottom: 10px;
        font-size: 30px;
        width: 93%;
        border: 1px solid var(--button-purple);
        border-radius: 10px;

    }
    header button{
        background-color: var(--button-purple);
        color: var(--background-grey);
        text-align: center;
        padding: 40px 20px;
        font-size: 24px;
        width: 100%;
        border: 1px solid var(--button-purple);
        border-radius: 10px;


    }
    header .center a {
        text-decoration: underline var(--button-purple); 
        text-decoration-thickness: 3px; 
        text-underline-offset: 9px; 
        color: var(--button-purple);

    }
     
    header .center{
        text-align: center;
    }
    header img {
        display: block;
        margin: 0 auto;
        width: 400px; 
        height: 400px; 
    }

    main h2,p{
        text-align: center;
    }

    main {
        background-color: var(--background-grey);
        padding: 20px;
       }


    main h2{
        font-size: 64px;
        margin-bottom: -15px;
        color: var(--main-titles-dark-grey);
    }

    main p{
        font-size: 40px;
        color: var(--paragraph-grey);
    }
      
    main button{
        
        background-color: white;
        color: var(--button-purple);
        text-align: center;
        border: 1px solid var(--button-purple);
        padding: 40px 20px;
        font-size: 35px;
        width: 100%;
        margin: 40px 0px;
        border-radius: 10px;

        
    }

    main .img-container{
        display: flex;
        flex-direction: column;
        gap: 60px;
        align-items: center;
        justify-content: center;
        margin: 20px 10px;

    }
    main .img-container img{
        width: 40%;
        padding: 10px;
        border-radius: var(--main-titles-dark-grey);
    }


    .action .big{
     font-size: 40px;
     font-weight: 600;
     color: var(--main-titles-dark-grey);
     padding-bottom: 0px;
     margin-bottom: 0px;
     color: var(--main-titles-dark-grey);
    }

    .action .email{
        
        padding: 40px 20px;
        margin-bottom: 10px;
        font-size: 24px;
        width: 94%;
        border: 1px solid var(--button-purple);
        border-radius: 10px;
    }
    .action button{
        background-color: var(--button-purple);
        color: var(--background-grey);
        text-align: center;
        padding: 40px 20px;
        font-size: 24px;
        width: 100%;
        border: 1px solid var(--button-purple);
        border-radius: 10px;

    }
   
    .action .center{
        text-align: center;
    }
    .action p{
        font-size: 30px;
        color: var(--paragraph-grey);
        margin-top: 10px;

    }

    .action  a {
        text-decoration: underline var(--button-purple); 
        text-decoration-thickness: 2px; 
        text-underline-offset: 9px; 
        color: var(--button-purple);
    }
     
    .action a{
        text-align: center;
    }

     .footer-top ul li{
         list-style-type: none;
         color: var(--paragraph-grey);
     }
    .footer-top{ grid-template-columns: 1fr 1fr; }
    .footer-top{
        padding: 20px 0px;
    }
    .footer-list-title{
        font-weight: bold;
        padding: 20px 0px;
      }
      .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: -30px;

    }
    
    .footer-links ul {
        list-style: none;
        padding: 0;
        display: flex; 
        align-items: center; 
    }
    
    .footer-links li {
        font-weight: bold;
        margin-right: 20px;
        margin-bottom: 10px  0px; 
    }
    
    .footer-links li a {
        text-decoration: none;
        color: var(--nav-grey); 
        font-size: 20px; 
        font-weight: 600;
        
    }
    
    
    .footer-language {
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--paragraph-grey);
    }
    
    .footer-language img {
        width: 20px;        
        height: 20px; 
    }
    
    .footer-social-icons {
        display: flex;
        gap: 10px;
        color: var(--paragraph-grey);
    }
    ul li{
        padding-bottom: 15px;
    }
      
}



@media only screen and (min-width: 768px) and (max-width: 961px) {
    nav {
        border-bottom: 1px solid var(--nav-grey);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        color: var(--nav-grey);
        
    }
    nav ul{
        display: none;
    }
    nav .fa-bars {
        font-size: 24px; 
        cursor: pointer;
    
      }
    nav img{
        width: 200px;
        height: 120px;
    }
    header .email,
    header button,
    .action .email,
    .action button {
        width: auto;
    }
    header .center {
        text-align: left;
    }
    
    main .img-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
    }

    main .img-container img {
        width: 60%; 
        padding: 40px;
        margin-left: 44px;
        
    }
    main button {
        width: 50%; 
        margin: 0 auto;
        display: block; 
      }
    
      
      .action {
        display: flex;
        flex-direction: row; 
        align-items: center; 
        justify-content: space-between; 
        text-align: center;
        padding: 0px 20px;
        margin-top: 20px;
      }
    
      .action .big {
        font-size: 32px; 
        text-align: start;
      }
      .action p{
          font-size:22px; 
      }
    
      .action .email {
        margin-bottom: 20px; 
        padding: 20px 5px; 
        justify-self:center;
        width: 50%;

      }
    
      .action button {
        margin-bottom: 20px; 
        padding: 20px 20px; 
        font-size: 24px;
      }
    
    .footer-top {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    
    .footer-top ul {
        flex-direction: row;
        gap: 20px;
    }

    .footer-top ul li {
        margin-right: 20px;
        padding-bottom: 0;
        margin-bottom: 15px;
    }

    
    .footer-links li {
        margin-right: 20px;
        margin-bottom: 0; 
    }
    
    
    .footer-language {
        align-items: flex-start;
        gap: 5px;
    }

    .footer-social-icons {
        align-items: flex-start;
        gap: 10px;
    }
    
}

@media only screen and (min-width: 960px) and (max-width: 1200px){
    nav {
        border-bottom: 1px solid var(--nav-grey);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        color: var(--nav-grey);
        
    }
    nav ul{
        display: none;
    }
    nav .fa-bars {
        font-size: 24px; 
        cursor: pointer;
    
      }
    nav img{
        width: 200px;
        height: 120px;
    }
    header .email,
    header button,
    .action .email,
    .action button {
        width: auto;
    }
    header .center {
        text-align: left;
    }
    
    main .img-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px; 
    }

    main .img-container img {
        width: 60%; 
        padding: 40px;
        margin-left: 44px;
        
    }
    main button {
        width: 50%; 
        margin: 0 auto;
        display: block; 
      }
    
      
      .action {
        display: flex;
        flex-direction: row; 
        align-items: center; 
        justify-content: space-between; 
        text-align: center;
        padding: 0px 20px;
        margin-top: 20px;
      }
    
      .action .big {
        font-size: 32px; 
        text-align: start;
      }
      .action p{
          font-size:22px; 
      }
    
      .action .email {
        margin-bottom: 20px; 
        padding: 20px 5px; 
        justify-self:center;
        width: 50%;

      }
    
      .action button {
        margin-bottom: 20px; 
        padding: 20px 20px; 
        font-size: 24px;
      }
    
    .footer-top {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    
    .footer-top ul {
        flex-direction: row;
        gap: 20px;
    }

    .footer-top ul li {
        margin-right: 20px;
        padding-bottom: 0;
        margin-bottom: 15px;
    }

    
    .footer-links li {
        margin-right: 20px;
        margin-bottom: 0; 
    }
    
    
    .footer-language {
        align-items: flex-start;
        gap: 5px;
    }

    .footer-social-icons {
        align-items: flex-start;
        gap: 10px;
    }
}
@media only screen and (min-width: 1200px){
    .header .email,
    header button,
    .action .email,
    .action button {
        width: auto;
    }
    nav {
        border-bottom: 1px solid var(--paragraph-grey);
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--nav-grey);
        padding: 0px 20px;
        
    }
     nav .b{
        border: 1px solid  var(--paragraph-grey);
        border-radius: 5px;
        box-sizing: border-box;
        padding: 0 6px;
     
     }

    nav ul {
        list-style-type: none;
        display: flex;
    }
    nav ul li{
        margin-left: 20px;
    }
    nav .fa-bars {
        font-size: 24px;
        cursor: pointer;
        display: none;
    }
    nav img {
        width: 90px;
        height: 50px;
    }

    .con{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    .con .one {
        flex: 1;
      }
    
      .con .two {
        flex: 1;
      }
    header img {
        display: block;
        margin: 0 auto;
        width: 80%;
        
    }
    header h1 {
        font-size: 84px;
        text-align: left;
        color: var(--main-titles-dark-grey);
        margin-bottom: 0px;
        
    }
    header p {
        line-height: 28px;
        text-align: left;
        font-size: 24px;
        color: var(--paragraph-grey);
        margin-bottom: 30px;
    }
    header .email {
        display: none;
    }
    header button {
        background-color: var(--button-purple);
        color: var(--background-grey);
        text-align: center;
        padding: 20px 10px;
        font-size: 16px;
        width: 30%;
        border: 1px solid var(--button-purple);
        border-radius: 7px;
    }
    header .center a {
        text-decoration: underline var(--button-purple);
        text-decoration-thickness: 3px;
        text-underline-offset: 9px;
        color: var(--button-purple);
    }
    header .center {
        text-align: left;
        font-size: 18px;
    }
    main{
        margin-top: 40px;
        margin-bottom: 40px; 
    }
    main .img-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px; 
    }

    main .img-container img {
        width: 50%; 
        padding: 30px;
        margin-left: 50px ;        
    }
    main button {
        width: 30%; 
        margin: 0 auto;
        display: block; 
        font-size: 22px;
        font-weight: bold;
        padding: 35px 0px;
      }
      main h2{
          font-size: 40px;
          margin-bottom: 10px;
      }
     main p{
         font-size: 20px;
         
     }
      
      .action {
        display: flex;
        flex-direction: row; 
        align-items: center; 
        justify-content: space-between; 
        text-align: center;
        padding: 0px 20px;
        margin-top: 20px;
      }
    
      .action .big {
        font-size: 32px; 
        text-align: start;
      }
      .action p{
          font-size:22px; 
      }
    
      .action .email {
        margin-bottom: 20px; 
        padding: 20px 5px; 
        justify-self:center;
        width: 50%;
        font-size: 20px;
        display: none;

      }
    
      .action button {
        margin-bottom: 20px; 
        padding: 20px 20px; 
        font-size: 20px;
      }
    
    .footer-top {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    
    .footer-top ul {
        flex-direction: row;
        gap: 20px;
    }

    .footer-top ul li {
        margin-right: 20px;
        padding-bottom: 0;
        margin-bottom: 15px;
    }

    
    .footer-links li {
        margin-right: 20px;
        margin-bottom: 0; 
    }
    
    
    .footer-language {
        align-items: flex-start;
        gap: 5px;
    }

    .footer-social-icons {
        align-items: flex-start;
        gap: 10px;
    }
   
}


